<f:layout name="Default" />
<f:section name="main">

<f:render partial="EventCalender/includeCss" arguments="{realPath: extensionPathCss,mapValues:mapData}"/>
<f:render partial="EventCalender/includeJs" arguments="{realPath: extensionPathJs,mapValues:mapData}"/>
 <f:if condition="{mapData.compact}">
 	<f:then>

 		<div id="eventCalendarDefault"></div>
               
                <f:form.hidden id="compact_url" value="{f:uri.action(action: 'compact')}" name="uid" />
                <f:form.hidden id="event_show_url" value="{f:uri.action(action: 'show')}" name="uid" />
                 <div id="pits_gmap_popup">
                    <a id="pits_view_popupClose">Close</a>
                    <div id="detailed_view" style="display: none;"></div>
               </div>
                <div id="pits_gmap_backgroundPopup"></div>
    
 	</f:then>
 
 	<f:else>
 		<div id="map_canvas" style="width:{mapData.map_width}px;height:{mapData.map_height}px;" class="mapCanvas"></div>
               <f:render partial="EventCalender/eventForm" arguments="{page_id: uid}"/>
 	</f:else>
 </f:if>

</f:section>