<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>
<div id="pits_gmap_popup">
    <a id="pits_gmap_popupClose">Close</a>
    <div id="general_pp">
        <div id="container" class="ltr">
                    <f:form name="newEventCalender" action="" object="{newEventCalender}" id="newEvent"  class="wufoo topLabel page" method="post">
                     <ul> 
                         <li>
                             <h2>Create New Event</h2> <label class="desc" id="title4" for="Field4">@<span id="loc_name"></span></label>
                          </header>
                         <span id="evt_sucess"></span>
                     </li>
                    <li id="foli9">
                        <label class="desc" id="title4" for="Field4">Event Name</label>
                        <div>
                            <f:form.textfield property="wdSubject" id="Field4" class="field text medium" value="" maxlength="255" tabindex="5"/><br />
                            <label  id="evt_name" for="Field4" class="evt_error"></label>
                        </div>
                    </li>
                    <li id="foli9">
                        <label class="desc" id="title7" for="Field7">Date And Time</label>
                        <span>
                            <f:form.textfield property="wdStarttime" id="datepicker_from" class="field text" value="" size="20" maxlength="2" tabindex="15" /><br />
                            <label for="Field7-1">Start Date And Time</label><label id="evt_sdate" class="evt_error"></label>
                        </span> 
                        <span id="cal7">
                            <span class="datepicker" id="datepicker_from_1"></span>
                        </span>
                        <span>
                            <f:form.textfield property="wdEndtime" id="datepicker_to"  class="field text" value="" size="20" maxlength="2" tabindex="18"/>
                            <label for="Field8-1">End Date And Time</label><label id="evt_edate" class="evt_error"></label>
                        </span> 
                        <span id="cal8">
                            <span class="datepicker" id="datepicker_to_1"></span>
                        </span>
                    </li>
                    <li id="foli9">
                        <label class="desc" id="title9" for="Field9">Description</label>
                        <div>
                            <f:form.textarea property="wdDescription" id="Field9"  class="field text medium" tabindex="21" />
                        </div>
                    </li>
                    <li id="foli9">
                        <div>
                            <f:form.hidden id="loc_name_field" value="" name="evt_loc" />
                            <f:form.hidden id="lat_log" value="" name="evt_long" />
                            <f:form.hidden id="lat_lat" value="" name="evt_lat" />
                            <f:form.hidden id="page_id" value="{f:uri.action(action: 'create')}" name="uid" />
                            <f:form.hidden id="view_url" value="{f:uri.action(action: 'show')}" name="uid" />
                        </div>
                    </li>
                    <li class="buttons ">
                        <div class="newEvent_submit">
                            <f:form.button id="saveNewEvtForm" class="btTxt submit">Create new</f:form.button>
                        </div>
                        
                    </li>
                </ul>
            </f:form>
        </div><!--container--> 
    </div>
    <div class="proces_bar">Proreccing The Data...</div>
    <div id="detailed_view" style="display: none;"></div>
</div>
<div id="pits_gmap_backgroundPopup"></div>